application.name=<%= scope.lookupvar('sysdata_web::crowd_username') %>
application.password=<%= scope.lookupvar('sysdata_web::crowd_password') %>

crowd.server.url=<%= scope.lookupvar('sysdata_web::crowd_server_url') %>
session.isauthenticated=session.isauthenticated
session.tokenkey=session.tokenkey
session.validationinterval=1
session.lastvalidation=session.lastvalidation
